<div class="container main-content">
  <div class="row">
    <div class="col-md-3">
      <%= render 'group_image', group: @group %>
      <div class="list-group mt-3">
        <h4>グループメンバー (<%= @group.users.count %>)</h4>
        <% @group.users.each do |user| %>
          <%= link_to user.name, user_path(user), class: 'list-group-item list-group-item-action' %>
        <% end %>
      </div>
      <%= render 'group_actions', group: @group, is_owner: @is_owner, is_member: @is_member %>
    </div>

    <div class="col-md-9">
      <h2><%= @group.name %></h2>
      <p><%= @group.description %></p>
      <%= render 'group_post_actions', group: @group, is_member: @is_member %>
      <div class="row">
        <% @group_posts.each do |post| %>
          <%= render 'post_card', post: post %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @group_posts %>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-custom {
    width: auto;
    display: inline-block;
  }
  .card {
    margin-bottom: 10px;
  }
  .card-body {
    padding: 10px;
  }
  .card-title a {
    color: #5a5a5a;
  }
  .card-title a:hover {
    color: #ff6347;
  }
  .img-thumbnail {
    border: none;
    padding: 0;
  }
</style>
