<h1>MyPage</h1>
<div class="row">
  <div class="col-md-3 text-center">
    <% if current_user.profile_image.attached? %>
      <%= image_tag current_user.profile_image, class: 'img-fluid rounded-circle', alt: 'プロフィール画像' %>
    <% else %>
      <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle" alt="デフォルト画像">
    <% end %>
    <p class="mt-2"><strong><%= current_user.name %></strong>さん、ようこそ！</p>
    <%= link_to '編集', edit_user_path(current_user), class: 'btn btn-primary mt-2' %>
    <%= link_to '全ての投稿を見る', posts_path, class: 'btn btn-secondary mt-2' %> <!-- 追加 -->
  </div>
  <div class="col-md-9">
    <h2>あなたの投稿一覧</h2>
    <div class="row">
      <% @posts.each_slice(3) do |post_group| %> <!-- 3つずつのグループに分ける -->
        <% post_group.each do |post| %>
          <div class="col-md-4">
            <div class="content-box mb-3 p-3">
              <h5><%= post.title %></h5>
              <p><%= truncate(post.content, length: 100) %></p> <!-- 投稿内容を短縮表示 -->
              <% if post.images.attached? %>
                <div class="row">
                  <% post.images.each do |image| %>
                    <div class="col-md-12 mb-2">
                      <%= image_tag image, class: 'img-fluid', alt: '投稿画像' %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
