<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3 custom-left-section">
      <%= link_to new_group_path, class: 'btn btn-primary btn-sm btn-block btn-custom mt-3 btn-fixed-width' do %>
        <i class="fas fa-plus-circle"></i> グループ作成
      <% end %> 
      <div class="list-group mt-4">
        <% @groups.each do |group| %>
          <div class="list-group-item d-flex align-items-start content-box">
            <% if group.image.attached? %>
              <img src="<%= url_for(group.image) %>" alt="グループ写真" class="img-thumbnail mr-3" style="width: 110px; height: 110px;">
            <% else %>
              <img src="https://via.placeholder.com/100" alt="デフォルト画像" class="img-thumbnail mr-3" style="width: 100px; height: 100px;">
            <% end %>
            <div class="flex-grow-1">
              <h6 class="mb-1"><%= group.name %></h6>
              <%= link_to group_path(group), class: 'btn btn-primary btn-sm btn-fixed-width mt-2' do %>
                <i class="fas fa-info-circle"></i> 詳細
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-5">
      <%= link_to new_post_path, class: 'btn btn-success btn-sm btn-block btn-custom mt-3 btn-fixed-width' do %>
        <i class="fas fa-pencil-alt"></i> 投稿する
      <% end %>
      <div class="list-group mt-4">
        <% @recent_posts.each do |post| %>
          <div class="list-group-item d-flex align-items-center content-box">
            <% if post.images.attached? %>
              <img src="<%= url_for(post.images.first) %>" alt="投稿写真" class="img-thumbnail mr-4" style="width: 150px; height: 110px; object-fit: cover;">
            <% else %>
              <img src="https://via.placeholder.com/100" alt="デフォルト画像" class="img-thumbnail mr-4" style="width: 150px; height: 110px; object-fit: cover;">
            <% end %>
            <div class="flex-grow-1">
              <div class="d-flex align-items-center mb-1" style="font-size: 0.8em;">
                <strong><%= post.user.name %></strong>
                <span class="text-muted ml-2"><%= post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %></span>
              </div>
              <h5 class="mb-1 post-title" style="font-size: 1em;"><%= link_to truncate(post.title, length: 10), post, class: 'text-decoration-none' %></h5>
              <p class="post-content" style="font-size: 0.9em;"><%= truncate(post.content, length: 19) %></p>
              <div class="d-flex align-items-center">
                <% if post.group %>
                  <i class="fas fa-users mr-1"></i>
                  <span class="mr-2"><%= truncate(post.group.name, length: 5) %></span>
                <% end %>
                <i class="fas fa-heart mr-1"></i>
                <span class="mr-2"><%= post.likes.count %></span>
                <i class="fas fa-comment mr-1"></i>
                <span><%= post.comments.count %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="background-box mb-3" style="background-image: url('<%= asset_path('background_a.jpg') %>');">
        <p class="image-description">街の魅力や新しい発見など<br>教えてください</p>
      </div>
      <div class="background-box" style="background-image: url('<%= asset_path('background_b.jpg') %>');">
        <p class="image-description">好きなものや知りたい情報または相談などグループを作り<br>みんなで共有しよう</p>
      </div>
    </div>
  </div>
</div>

<style>
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .row.justify-content-center {
    margin-right: 0;
    margin-left: 0;
  }

  .row.justify-content-center > [class*="col-"] {
    padding-right: 15px; 
    padding-left: 15px; 
  }

  .content-box {
    background-color: #FFFAF0;
    margin: 3px;
    overflow: hidden; /* ボックス内にコンテンツを収める */
  }

  .post-title a {
    color: #5a5a5a;
  }

  .post-title a:hover {
    color: #ff6347; 
  }

  .post-content {
    margin-bottom: 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* テキストが切れた部分に「…」を表示する */
  }

  .custom-left-section {
    margin-left: 0; 
  }

  .list-group-item {
    margin-left: 0; 
  }

  .background-box {
    background-color: #FFFAF0; 
    color: #333;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
    text-align: center; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 350px; 
  }

  .image-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .image-description {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.8); /* 背景色を半透明にする */
    padding: 10px;
    border-radius: 5px;
  }

  .img-thumbnail {
    border: none;
    padding: 0;
  }
</style>
