<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card" style="background-color: #FFFAF0;">
        <div class="card-body">
          <h3 class="display-6 my-4" style="font-family: 'Dancing Script', cursive; color: #5a5a5a;">編集ページ</h3>

          <%= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
            <% if @post.images.attached? %>
              <div class="form-group">
                <div class="row">
                  <% @post.images.each do |image| %>
                    <div class="col-md-6 mb-2">
                      <%= image_tag image, class: 'img-fluid', alt: '投稿画像' %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            
            <div class="form-group">
              <%= form.label :images, "画像", for: 'post_images', class: 'form-label' %>
              <%= form.file_field :images, id: 'post_images', multiple: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :title, "タイトル" %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :content, "内容" %>
              <%= form.text_area :content, class: 'form-control', rows: 5 %>
            </div>

            <div class="d-flex">
              <%= form.submit '更新', class: 'btn btn-primary mr-2' %>
              <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
